doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        block head
            title ahabase
        link(href=`../css/main.css` rel='stylesheet')

    body
        main.content
            block body