doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        block head
            title ahabase
        link(href=`../css/main.css` rel='stylesheet')

    body
        main.content
            block body